% -*- mode: latex; -*-
\documentclass{article}

\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[french]{babel}
\usepackage[a4paper, landscape,margin=10pt]{geometry}
\usepackage{calc}


\begin{document}

\begin{minipage}{4cm}
  \textbf{Feuille de présence}
\end{minipage}
\hfill
\begin{minipage}{10cm}
\noindent\hfill\textbf{Semestre:} \makebox[3cm][l]{\textbf{(((planning)))}}\par
\noindent\hfill\textbf{UV:} \makebox[3cm][l]{\textbf{(((uv)))}}\par
\noindent\hfill\textbf{Groupe:} \makebox[3cm][l]{\textbf{(((group)))}}\par
\end{minipage}

\newlength\q
\setlength{\q}{(\textwidth -(((nslot+1)))\tabcolsep * \real{2} - 3cm - (((nslot+1)))\arrayrulewidth)/(((nslot)))}

\begin{center}
  \begin{tabular}{|p{3cm}|((* for i in range(nslot) *))p{\q}|((* endfor *))}
    \hline
    Nom ((* for i in range(nslot) *)) & (((ctype)))((( '%02d' % (i+1) )))((* endfor *)) \\ \hline
    ((* for student in students *))
    \begin{minipage}{3cm}\scriptsize
      ((( student['name'] )))
    \end{minipage}
    ((* for i in range(nslot) *)) & ((* endfor *)) \\[8pt] \hline
    ((* endfor *))
  \end{tabular}
\end{center}

\end{document}
