"""Fichier de configuration du semestre"""

# Sous-dossiers représentant les UV gérées lors du semestre
UVS = [{{ UVS }}]

# Un dictionnaire listant des plannings (A2020, Master2Sem1,
# Master2Sem2...) et leurs caractéristiques correspondantes (UV en
# faisant partie, début et fin...)
# Par exemple :
# from datetime import date
# PLANNINGS = {
#     "P2020": {
#         "UVS": ["SY09", "SY02"],
#         "PL_BEG": date(2020, 2, 24),
#         "PL_END": date(2020, 6, 27)
#     }
# }
PLANNINGS = {
    "{{ SEMESTER }}": {
        "UVS": [{{ UVS }}],
    }
}

# Utilisé par la tâche `send_email` pour envoyer des courriels à l'effectif
# entier
LOGIN = None
FROM_EMAIL = None
PORT = None
SMTP_SERVER = None
