"""Fichier de configuration du semestre {{ SEMESTER }}"""


# Chemin relatif vers le fichier pdf de tous les créneaux et de toutes
# les UVs disponibles sur l'ENT
CRENEAU_UV = {{ CRENEAU_UV if CRENEAU_UV is not none else 'None' }}

# Sous-dossiers représentant les UV gérées lors du semestre
UVS = [{{ UVS }}]

from datetime import date

# Journées changées en d'autres jours
TURN = {
    date(2025, 5, 6): "jeudi",
    date(2025, 5, 14): "jeudi",
    date(2025, 6, 13): "lundi",
}

# Liste des journées où il n'y a pas Cours/TD/TP.
from guv.helpers import skip_range

ferie = [
    date(2025, 4, 21),
    date(2025, 5, 1),
    date(2025, 5, 8),
    date(2025, 5, 29),
    date(2025, 6, 9),
]
debut = skip_range(date(2025, 2, 24), date(2025, 3, 1))
median = skip_range(date(2025, 4, 7), date(2025, 4, 12))
final = skip_range(date(2025, 6, 21), date(2025, 6, 28))
vacances_printemps = skip_range(date(2025, 4, 14), date(2025, 4, 19))

SKIP_DAYS_C = ferie + vacances_printemps + median + final
SKIP_DAYS_D = ferie + vacances_printemps + debut + median + final
SKIP_DAYS_T = ferie + vacances_printemps + debut + final

PLANNINGS = {
    "{{ SEMESTER }}": {
        "UVS": [{{ UVS }}],
        "PL_BEG": date(2025, 2, 24),
        "PL_END": date(2025, 6, 28),
        "SKIP_DAYS_C": ferie + vacances_printemps + median + final,
        "SKIP_DAYS_D": ferie + vacances_printemps + debut + median + final,
        "SKIP_DAYS_T": ferie + vacances_printemps + debut + final,
        "TURN": {
            date(2025, 5, 6): "jeudi",
            date(2025, 5, 14): "jeudi",
            date(2025, 6, 13): "lundi",
        }
    }
}

# Personne par défaut pour les fichiers iCal et les calendriers
DEFAULT_INSTRUCTOR = None

# Utilisé par la tâche `send_email` pour envoyer des courriels à l'effectif
# entier
LOGIN = None
FROM_EMAIL = None
