"""Semester configuration file"""

# Subfolders representing the UVs (course units) managed during the semester
UVS = [{{ UVS }}]

# Available columns (set to None if not available)
NAME_COLUMN = "First name"
LASTNAME_COLUMN = "Last name"
EMAIL_COLUMN = "Email"
LOGIN_COLUMN = "Login"

# A dictionary listing schedules (A2020, Master2Sem1, Master2Sem2, etc.)
# and their corresponding course units
PLANNINGS = {
    "{{ SEMESTER }}": {
        "UVS": [{{ UVS }}],
    }
}

# Used by the `send_email` task to send emails to the entire group
LOGIN = None
FROM_EMAIL = None
PORT = None
SMTP_SERVER = None

# If using grade files exported from Moodle
MOODLE_EMAIL_COLUMN = "Email address"
