% -*- mode: latex; -*-

\documentclass[12pt]{article}

\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{lmodern}
\usepackage[french]{babel}
\usepackage{geometry}
\geometry{hmargin=1cm,vmargin=1cm}

\newcommand{\name}[2]{\makebox[4.5in][l]{#1}\makebox[2in][l]{#2}}

\begin{document}

\noindent\hrulefill
\begin{center}
  \begin{Huge}
    \textbf{Feuille de présence}
  \end{Huge}
  \smallskip

  \textbf{(((group)))}
\end{center}
\noindent\hrulefill\bigskip

\noindent\hfill\textbf{Semestre:} \makebox[3cm][l]{\hrulefill}\par
\noindent\hfill\textbf{UV:} \makebox[3cm][l]{\hrulefill}\par
\noindent\hfill\textbf{Date:} \makebox[3cm][l]{\hrulefill}\par
\noindent\hfill\textbf{Examen:} \makebox[3cm][l]{\hrulefill}\par

\newcounter{stunum}
\begin{list}{\arabic{stunum}.}{\usecounter{stunum}}
  \setlength\itemsep{1em}
  \item[] \makebox[4.5in][l]{Nom}\makebox[2in][l]{Signature}
  ((* for student in students *))
  \item \name{(((student['name'])))}{\hrulefill}
  ((* endfor *))
\end{list}

\vfill
\noindent \textbf{Surveillants}
\begin{list}{}{\usecounter{stunum}}
  \item[] \makebox[4.5in][l]{\textbf{Nom,\quad Prénom}}\quad \textbf{Signature}
  \item\makebox[4.5in][l]{\hrulefill}\quad\hrulefill
  \item\makebox[4.5in][l]{\hrulefill}\quad\hrulefill
  \item\makebox[4.5in][l]{\hrulefill}\quad\hrulefill
\end{list}

\end{document}
