% -*- mode: latex; -*-
\documentclass[12pt]{article}

\usepackage{libertinus}
\usepackage{libertinust1math} % For math support
\usepackage[english]{babel}
\usepackage{longtable}
\usepackage[left=2cm,right=2cm,top=1cm,bottom=2cm]{geometry}
\usepackage{longtable}
\usepackage{booktabs}
\usepackage{array}

% See https://tex.stackexchange.com/q/85335
\makeatletter
\renewcommand \dotfill {\leavevmode \cleaders \hb@xt@ 1em{\hss .\hss }\hfill \kern \z@}
\makeatother

\begin{document}

\noindent\hrulefill
\begin{center}
  \begin{Huge}
    \textbf{(((title | escape_tex)))}
  \end{Huge}
  ((* if group *))
  \par\smallskip
  \textbf{(((group | escape_tex)))}
  ((* endif *))
\end{center}
\noindent\hrulefill\bigskip

\begin{tabular}{@{}>{\bfseries}l@{\hspace{0.5cm}}p{4cm}@{}
                @{\hspace{3cm}} % Add horizontal space between the two columns
                >{\bfseries}l@{\hspace{0.5cm}}p{4cm}@{}}
Semestre: & ((* if planning *))\underline{\makebox[4cm][c]{(((planning | escape_tex)))}}((* else *))\underline{\hspace{4cm}}((* endif *)) &
UE/UV:   & ((* if uv *))\underline{\makebox[4cm][c]{(((uv | escape_tex)))}}((* else *))\underline{\hspace{4cm}}((* endif *)) \\[0.5em]
Date:     & ((* if date *))\underline{\makebox[4cm][c]{(((date | escape_tex)))}}((* else *))\underline{\hspace{4cm}}((* endif *)) &
Examen:     & ((* if exam *))\underline{\makebox[4cm][c]{(((exam | escape_tex)))}}((* else *))\underline{\hspace{4cm}}((* endif *)) \\
\end{tabular}
\bigskip


\newcounter{stunum}
\begin{longtable}{@{}r p{4.5in} p{2in}@{}}
  \toprule
  \textbf{\#} & \textbf{Nom} & \textbf{Signature} \\
  \midrule\smallskip
  \endfirsthead

  \toprule
  \textbf{\#} & \textbf{Nom} & \textbf{Signature} \\
  \midrule\smallskip
  \endhead

  ((* if blank *))
  ((* for i in range(num) *))
  \stepcounter{stunum}\arabic{stunum}. & \underline{\hspace{4.5in}} & \underline{\hspace{2in}} \\[1em]
  ((* endfor *))
  ((* else *))
  ((* for student in students *))
  \stepcounter{stunum}\arabic{stunum}. & (((student['name'] | escape_tex)))\dotfill & \underline{\hspace{2in}} \\[1em]
  ((* endfor *))
  ((* endif *))
  ((* for i in range(extra) *))
  \stepcounter{stunum}\arabic{stunum}. & \underline{\hspace{4.5in}} & \underline{\hspace{2in}} \\[1em]
  ((* endfor *))
\end{longtable}

\end{document}
