% -*- mode: latex; -*-

\documentclass{article}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[french]{babel}
\usepackage[a4paper, landscape,margin=0pt]{geometry}

\usepackage{tikz}
\usetikzlibrary{positioning}
\usetikzlibrary{patterns}
\usetikzlibrary{fit}

\newcommand{\daywidth}{4.6cm}
\newcommand{\quarterwidth}{0.37cm}

\begin{document}
\pagestyle{empty}
\parindent=0pt

\begin{tikzpicture}[remember picture,overlay]
  \node[anchor=center] at (current page.center) {%
    \begin{tikzpicture}[
      inner sep=0pt,
      outer sep = 0pt,
      x=\daywidth, y=-\quarterwidth, node distance=0cm
      ]

      % Define all coordinates
      \def\days{Lundi/Lun,Mardi/Mar,Mercredi/Mer,Jeudi/Jeu,Vendredi/Ven}
      \def\hours{08_00,08_15,08_30,08_45,09_00,09_15,09_30,09_45,10_00,10_15,10_30,10_45,11_00,11_15,11_30,11_45,12_00,12_15,12_30,12_45,13_00,13_15,13_30,13_45,14_00,14_15,14_30,14_45,15_00,15_15,15_30,15_45,16_00,16_15,16_30,16_45,17_00,17_15,17_30,17_45,18_00,18_15,18_30,18_45,19_00}

      % Define coordinates
      \foreach \day/\sday [count=\iday] in \days {
        \foreach \hour [count=\ihour] in \hours {
          \coordinate (\sday-\hour) at (\iday, \ihour);
          \coordinate (\sday-\hour-end) at (\iday+1, \ihour);
          \coordinate (\sday-\hour-half) at (\iday+.5, \ihour);
        }
      }

      % Draw days
      \tikzstyle{day}=[draw, rectangle, minimum height=1cm, minimum width=\daywidth, fill=yellow!20, anchor=south west]
      \foreach \day/\sday in \days {
        \node[day] at (\sday-08_00) {\day};
      }

      % Draw hours
      \tikzstyle{hour}=[draw, rectangle, minimum height=4*\quarterwidth, minimum width=2cm, fill=yellow!30,anchor=north east]
      \node[hour] at (Lun-08_00) {08\string:00--09\string:00};
      \node[hour] at (Lun-09_00) {09\string:00--10\string:00};
      \node[hour] at (Lun-10_00) {10\string:00--11\string:00};
      \node[hour] at (Lun-11_00) {11\string:00--12\string:00};
      \node[hour] at (Lun-12_00) {12\string:00--13\string:00};
      \node[hour] at (Lun-13_00) {13\string:00--14\string:00};
      \node[hour] at (Lun-14_00) {14\string:00--15\string:00};
      \node[hour] at (Lun-15_00) {15\string:00--16\string:00};
      \node[hour] at (Lun-16_00) {16\string:00--17\string:00};
      \node[hour] at (Lun-17_00) {17\string:00--18\string:00};
      \node[hour] at (Lun-18_00) {18\string:00--19\string:00};

      % Block length
      \tikzstyle{hours}=[rectangle,draw, anchor=north west, align=center]
      \tikzstyle{qhour}=[hours,minimum height=\quarterwidth]
      \tikzstyle{1hour}=[hours,minimum height=4*\quarterwidth]
      \tikzstyle{2hours}=[hours,minimum height=8*\quarterwidth]
      \tikzstyle{3hours}=[hours,minimum height=12*\quarterwidth]

      % Block positions
      \tikzstyle{atleft}=[minimum width=.5*\daywidth]
      \tikzstyle{atright}=[minimum width=.5*\daywidth, xshift =.5*\daywidth]
      \tikzstyle{full}=[minimum width=\daywidth]

      \tikzstyle{Cours}=[fill=blue!20]
      \tikzstyle{TP}=[fill=red!20]
      \tikzstyle{TD}=[fill=yellow!20]

      % Draw vertical lines separating days
      \foreach \dummy/\day in \days {
        \draw (\day-08_00) -- (\day-19_00);
      }
      \draw (Ven-08_00-end) -- (Ven-19_00-end);

      % Draw vertical dotted lines
      \foreach \dummy/\day in \days {
        \draw[dotted] (\day-08_00-half) -- (\day-19_00-half);
      }

      % Draw bottom line
      \draw (Lun-19_00) -- (Ven-19_00-end);

      % Draw hatched area
      \draw[pattern=north east lines] (Lun-12_00) rectangle (Ven-14_00-end);

      % Draw time slots
      ((* for blk in blocks *))
      ((( blk )))
      ((* endfor *))

    \end{tikzpicture}
  };
\end{tikzpicture}
\end{document}
