"""Fichier de configuration du semestre {{ SEMESTER }}"""


# Chemin relatif vers le fichier pdf de tous les créneaux et de toutes
# les UVs disponibles sur l'ENT
CRENEAU_UV = None

# Sous-dossiers représentant les UV gérées lors du semestre
UVS = [{{ UVS }}]

from datetime import date

# Journées changées en d'autres jours
TURN = {
    date(2024, 10, 21): "jeudi",
    date(2024, 11, 12): "lundi",
    date(2025, 1, 8): "samedi"
}

# Liste des journées où il n'y a pas Cours/TD/TP.
from guv.helpers import skip_range

ferie = [
    date(2024, 10, 17),
    date(2024, 11, 11),
    date(2024, 5, 9),
]
debut = skip_range(date(2024, 9, 2), date(2024, 9, 7))
median = skip_range(date(2024, 10, 22), date(2024, 10, 26)) + [date(2024, 11, 4)]
final = skip_range(date(2025, 1, 9), date(2025, 1, 18))
vacances_toussaint = skip_range(date(2024, 10, 28), date(2024, 11, 2))
vacances_noel = skip_range(date(2024, 12, 21), date(2025, 1, 4))

SKIP_DAYS_C = ferie + vacances_toussaint + vacances_noel + median + final
SKIP_DAYS_D = ferie + vacances_toussaint + vacances_noel + debut + median + final
SKIP_DAYS_T = ferie + vacances_toussaint + vacances_noel + debut + final

PLANNINGS = {
    "{{ SEMESTER }}": {
        "UVS": [{{ UVS }}],
        "PL_BEG": date(2024, 9, 2),
        "PL_END": date(2025, 1, 18),
        "SKIP_DAYS_C": ferie + vacances_toussaint + vacances_noel + median + final,
        "SKIP_DAYS_D": ferie + vacances_toussaint + vacances_noel + debut + median + final,
        "SKIP_DAYS_T": ferie + vacances_toussaint + vacances_noel + debut + final,
        "TURN": {
            date(2024, 10, 21): "jeudi",
            date(2024, 11, 12): "lundi",
            date(2025, 1, 8): "samedi"
        }
    }
}

# Personne par défaut pour les fichiers iCal et les calendriers
DEFAULT_INSTRUCTOR = None

# Utilisé par la tâche `send_email` pour envoyer des courriels à l'effectif
# entier
LOGIN = None
FROM_EMAIL = None
