"""Fichier de configuration du semestre {{ SEMESTER }}"""


# Chemin relatif vers le fichier pdf de tous les créneaux et de toutes
# les UVs disponible sur l'ENT
CRENEAU_UV = None

# Sous-dossiers représentant les UV gérées lors du semestre
UVS = [{{ UVS }}]

from datetime import date

# Journées changées en d'autres jours
TURN = {
    date(2023, 5, 2): "lundi",
    date(2023, 5, 10): "lundi",
    date(2023, 5, 26): "lundi",
}

# Liste des journées où il n'y a pas Cours/TD/TP.
from guv.helpers import skip_range

ferie = [
    date(2023, 4, 10),
    date(2023, 5, 1),
    date(2023, 5, 8),
    date(2023, 5, 18),
    date(2023, 5, 29)
]
debut = skip_range(date(2023, 2, 27), date(2023, 3, 4))
median = skip_range(date(2023, 4, 18), date(2023, 4, 22)) + [date(2023, 5, 2)]
final = skip_range(date(2023, 6, 24), date(2023, 7, 1))
vacances_printemps = skip_range(date(2023, 4, 24), date(2023, 4, 29))

SKIP_DAYS_C = ferie + vacances_printemps + median + final
SKIP_DAYS_D = ferie + vacances_printemps + debut + median + final
SKIP_DAYS_T = ferie + vacances_printemps + debut + final

PLANNINGS = {
    "{{ SEMESTER }}": {
        "UVS": [{{ UVS }}],
        "PL_BEG": date(2023, 2, 27),
        "PL_END": date(2023, 7, 1),
        "SKIP_DAYS_C": ferie + vacances_printemps + median + final,
        "SKIP_DAYS_D": ferie + vacances_printemps + debut + median + final,
        "SKIP_DAYS_T": ferie + vacances_printemps + debut + final,
        "TURN": {
            date(2023, 5, 2): "lundi",
            date(2023, 5, 10): "lundi",
            date(2023, 5, 26): "lundi",
        }
    }
}

# Liste des plannings activés
SELECTED_PLANNINGS = ["{{ SEMESTER }}"]

# Personne par défaut pour les fichiers iCal et les calendriers
DEFAULT_INSTRUCTOR = None

# Utilisé par la tâche `send_email` pour envoyer des courriels à l'effectif
entier
LOGIN = None
FROM_EMAIL = None
