"""Fichier de configuration du semestre"""


# Chemin relatif vers le fichier pdf de tous les créneaux et de toutes
# les UVs disponibles sur l'ENT
CRENEAU_UV = None

# Sous-dossiers représentant les UV gérées lors du semestre
UVS = [{{ UVS }}]

from datetime import date

# Journées changées en d'autres jours
TURN = {
    date(2022, 5, 24): "Jeudi",
    date(2022, 6, 8): "Lundi"
}

# Liste des journées où il n'y a pas Cours/TD/TP.
from guv.helpers import skip_range

ferie = [
    date(2022, 5, 26),
    date(2022, 6, 6),
    date(2022, 4, 18)
]
debut = skip_range(date(2022, 2, 21), date(2022, 2, 26))
vacances_printemps = skip_range(date(2022, 4, 11), date(2022, 4, 16))
median = skip_range(date(2022, 4, 19), date(2022, 4, 25))
final = skip_range(date(2022, 6, 16), date(2022, 6, 25))

SKIP_DAYS_C = ferie + vacances_printemps + median + final
SKIP_DAYS_D = ferie + vacances_printemps + debut + median + final
SKIP_DAYS_T = ferie + vacances_printemps + debut + final

PLANNINGS = {
    "{{ SEMESTER }}": {
        "UVS": [{{ UVS }}],
        "PL_BEG": date(2022, 2, 21),
        "PL_END": date(2022, 6, 25),
        "SKIP_DAYS_C": ferie + vacances_printemps + median + final,
        "SKIP_DAYS_D": ferie + vacances_printemps + debut + median + final,
        "SKIP_DAYS_T": ferie + vacances_printemps + debut + final,
        "TURN": {
            date(2022, 5, 24): "Jeudi",
            date(2022, 6, 8): "Lundi"
        }
    }
}

# Liste des plannings activés
SELECTED_PLANNINGS = ["{{ SEMESTER }}"]

# Personne par défaut pour les fichiers iCal et les calendriers
DEFAULT_INSTRUCTOR = None

