"""Fichier de configuration du semestre {{ SEMESTER }}"""


# Chemin relatif vers le fichier pdf de tous les créneaux et de toutes
# les UVs disponibles sur l'ENT
CRENEAU_UV = None

# Sous-dossiers représentant les UV gérées lors du semestre
UVS = [{{ UVS }}]

from datetime import date

# Journées changées en d'autres jours
TURN = {
    date(2023, 10, 23): "jeudi",
    date(2024, 1, 3): "lundi",
    date(2024, 1, 4): "samedi",
}

# Liste des journées où il n'y a pas Cours/TD/TP.
from guv.helpers import skip_range

ferie = [
    date(2023, 10, 19),
    date(2023, 11, 11),
]
debut = skip_range(date(2023, 9, 4), date(2023, 9, 9))
median = skip_range(date(2023, 10, 24), date(2023, 10, 28)) + [date(2023, 11, 6)]
final = skip_range(date(2024, 1, 5), date(2024, 1, 13))
vacances_toussaint = skip_range(date(2023, 10, 30), date(2023, 11, 4))
vacances_noel = skip_range(date(2023, 12, 23), date(2024, 1, 2))

PLANNINGS = {
    "{{ SEMESTER }}": {
        "UVS": [{{ UVS }}],
        "PL_BEG": date(2023, 9, 4),
        "PL_END": date(2024, 1, 13),
        "SKIP_DAYS_C": ferie + vacances_toussaint + vacances_noel + median + final,
        "SKIP_DAYS_D": ferie + vacances_toussaint + vacances_noel + debut + median + final,
        "SKIP_DAYS_T": ferie + vacances_toussaint + vacances_noel + debut + final,
        "TURN": {
            date(2023, 10, 23): "jeudi",
            date(2024, 1, 3): "lundi",
            date(2024, 1, 4): "samedi",
        }
    }
}

# Personne par défaut pour les fichiers iCal et les calendriers
DEFAULT_INSTRUCTOR = None

# Utilisé par la tâche `send_email` pour envoyer des courriels à l'effectif
# entier
LOGIN = None
FROM_EMAIL = None
